body {
  margin: 0;
  padding: 0;
  background-color: #FDFFEB;
}

img {
  margin: 15px;
  display: flex;
  border-radius: 4px 4px 6px black;
}

main {
  margin: 0;
  padding: 0;
}

main hr {
  margin: 0 0;
  padding: 0 0;
}

/* .section-1 {
  background-color: rgb(207, 255, 251);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
} */

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0;
  border-style: 2px solid black;
}

.misson {
  border-radius: 8px;
  border-style: 2px solid black;
  box-shadow: 4px 4px 20px black;
  cursor: pointer;
}

.vision {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 4px 4px 20px black;
  cursor: pointer;
}

.values {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
